<a href="https://colab.research.google.com/github/koreabao/public_data/blob/main/temp_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **데이터 받기**

### 1. 공공데이터포털 www.data.go.kr 
### 2. '기상청_단기예보' 검색
### 3. https://data.kma.go.kr/data/rmt/rmtList.do?code=420&pgmNo=572
### 4. 메뉴 상단에서 기후통계분석 -> 통계분석 ->조건별통계
     분류-- 지상
     지역/지점--서울,
     요소--기온 
     기간-- 1904~2021년
     조건-- 월별

     검색
### 5. csv파일 다운받기.파일이름을 날씨.csv로 변경합니다.

   파일 속성에서 확인.

## **데이터 변환**

### 1. notepad열기 : notepad에서 날씨.csv열기
### 2. 파일 상단 필요없는 내용 삭제
### 3. 다시 csv파일로 저장하기
 파일이름: 날씨_1.csv
 
 파일형식: 모든파일
 
 인코딩(encoding): UTF-8

## **데이터 불러오기 및 저장**

### 1. file(파일) -> upload -> 파일선택
   왼쪽파일모양
### 2. google drive에 데이터 저장

In [1]:
import pandas as pd

In [2]:
pd.read_csv('날씨_1.csv')

FileNotFoundError: ignored

In [ ]:
tp = pd.read_csv('날씨_1.csv')
tp

In [ ]:
#tp.shape

In [ ]:
#tp.info()

In [ ]:
#tp.isnull()

In [ ]:
#True == 1

In [ ]:
#False == 0

In [ ]:
#tp.isnull().sum()

In [ ]:
#tp['평균기온(℃)']

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

### **tp를 google drive에 저장한다.**
이름은  gtp(google drive 에 있는tp)

In [ ]:
tp.to_csv('/content/drive/MyDrive/gtp.csv')

In [ ]:
pd.read_csv('/content/drive/MyDrive/gtp.csv')

**index 없이 데이터 저장**

index 없이 저장 하고 싶다면 매개변수 'index=None'을 입력합니다. 
변수 이름을  gtp_1.csv로 저장한다.

In [ ]:
tp.to_csv('/content/drive/MyDrive/gtp_1.csv', index=None)

In [3]:
pd.read_csv('/content/drive/MyDrive/gtp_1.csv')

,지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,108,서울,1907-10,13.9,20.2,25.4,1907-10-05,8.3,3.3,1907-10-24
1,108,서울,1907-11,5.3,10.2,21.3,1907-11-01,0.6,-8.9,1907-11-30
2,108,서울,1907-12,-3.9,0.8,9.0,1907-12-13,-8.7,-20.1,1907-12-23
3,108,서울,1908-01,-3.5,0.1,6.2,1908-01-31,-7.5,-14.3,1908-01-22
4,108,서울,1908-02,-4.0,0.8,8.4,1908-02-27,-8.8,-15.8,1908-02-07
...,...,...,...,...,...,...,...,...,...,...
1340,108,서울,2020-08,26.5,29.3,34.5,2020-08-26,24.4,21.5,2020-08-23
1341,108,서울,2020-09,21.4,25.6,29.5,2020-09-01,18.0,13.6,2020-09-21
1342,108,서울,2020-10,14.3,19.5,23.6,2020-10-01,9.6,3.2,2020-10-24
1343,108,서울,2020-11,8.0,12.6,20.0,2020-11-17,4.0,-3.6,2020-11-30
1344,108,서울,2020-12,-0.3,3.9,11.4,2020-12-28,-4.2,-12.9,2020-12-31

In [ ]:
gtp = pd.read_csv('/content/drive/MyDrive/gtp_1.csv')

In [ ]:
gtp

### **head() , tail()**
### **1. gtp.head()**
### **2. gtp.tail()**
### **3. gtp.tail(10)**
### **4. gtp.head(10)**

In [ ]:
gtp.head()

In [ ]:
gtp.head(10)

In [ ]:
gtp.tail()

In [ ]:
gtp.tail(10)

### **integer loction - .iloc[ ]**
### **gtp.iloc[ ]**
### **1. gtp.iloc[:,:] or gtp.iloc[0:,0:]**
### **2. gtp.iloc[:,2]**
### **3. gtp.iloc[:,[2,3,5,8]]**

In [ ]:
gtp.iloc[ : ,: ]

In [ ]:
gtp.iloc[0:,0:]

In [ ]:
gtp.iloc[:,2]

In [ ]:
gtp.iloc[:,-3:-1]

In [ ]:
gtp.iloc[:,[2,3,5,8]]

### **모든 행, 열 일시, 평균기온열 데이터 가져오기**

gtp.iloc[:,2:4] 사용합니다.

In [ ]:
gtp.iloc[:,2:4]

### **gtp.iloc[:,2:4] 불어온 데이터  tp1로 정장합니다.**

In [ ]:
tp1=gtp.iloc[:,2:4]
tp1

In [ ]:
tp1.head()

In [ ]:
tp1.tail()

## **변수명 바꾸기**

### **tp1.columns = ['date','temperature']**

In [ ]:
tp1.columns = ['date','temperature']
tp1

### **데이터 정보 확인 하기**
**tp1.info()**

In [ ]:
tp1.info()

**에러 방지 하기 위해 복사 (나중에 안해도 됨)**

In [ ]:
tp2=tp1.copy()

**tp1에서 열(date)의 데이터 유형을 date(날짜)로 변환 하는 작업**

In [ ]:
tp2['date'] = pd.to_datetime(tp2['date'])

In [ ]:
tp2.info()

In [ ]:
tp2.head()

**column과 index 전환**

**데이터 분석 학기 위해 변환 합니다.**

tp2.set_index('date',inplace= True)

inplace=True: 영구 대체한다. 없으면 임시변환합니다.

**임시 변환**

In [ ]:
tp2.set_index('date')

In [ ]:
tp2

아래 명령을 2번 실행하면 error 가 뜹니니다. 
이유는 이미 전환 했기 때문에 변환 할 것 없습니다. 
그래서 앞에서 복사 했다.

In [ ]:
tp2.set_index('date',inplace=True)
tp2

In [ ]:
tp3=tp2.copy()

## **시각화**

**1. plot이용한다.**

**2. figsize: 그림 크기 조절**

In [ ]:
tp3.plot();

In [ ]:
tp3.plot(figsize=(15,7));

In [ ]:
tp3['1950':'1954'].plot(figsize=(15,7));

In [ ]:
tp3['1950':'1954']

In [ ]:
tp3['1950':'1954'].plot()

## **관찰치 없는 이유??**

### **온도 최고치(max)및 최저치(min)**

tp3.max()

tp3.min()

In [ ]:
tp3.max()

In [ ]:
tp3.min()

In [ ]:
tp3[tp3['temperature'] == 28.8]

In [ ]:
tp3[tp3['temperature'] == -9.1]

## **연 평균 기온 보기** 

tp3.resample('Y').mean()

In [ ]:
tp3.resample('Y').mean()

In [ ]:
tp_year = tp3.resample('Y').mean()
tp_year.plot(figsize=(15,7));

In [ ]:
tp_year['1975':'2019'].plot(figsize=(15,7)); # 법위를 설정한다.

In [ ]:
#a=tp_year['1919']
a=tp_year.loc['1919']
a

In [ ]:
b=tp_year.loc['2019']
b

In [ ]:
b.values - a.values

In [ ]:
print(a,b)

In [ ]:
d = {'price': [10, 11, 9, 13, 14, 18, 17, 19],
          'volume': [50, 60, 40, 100, 50, 100, 40, 50]}
df = pd.DataFrame.from_dict(d)
df

# df['week_starting'] = pd.date_range('01/01/2018',periods=8,freq='W')
# df

In [ ]:
df.info()

In [ ]:
df.set_index('price',inplace=True)
df

In [ ]:
df.reset_index()