<a href="https://colab.research.google.com/github/koreabao/public_data/blob/main/%EB%B0%B0%EC%B6%94%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

공공 데이터 사이트 https://www.data.go.kr/

인기데이터 -> 더보기 

분류체계 - 농축수산

서비스유형 - 다운로드

확장자 -  xls

제목: 한국농수산식품유통공사_농수축산물 도소매가격  -> 바로가기

소매가격: 기간별

기간: 2019-01-01 ~ 2019-12-31 

지역: 청주

부류: 채소류

품목: 배추

품종: 전체

등급: 상품


**데이터 다운받기->파일이름을 "배추값2019"로 변경한다.**

In [1]:
import pandas as pd

In [2]:
pd.read_html('배추값2019.xls')

[                                                   구분  구분.1 구분.2 01/02 01/03  \
 0                                                  평균    평균   평균  2590  2590
 1                                                  평년    평년   평년  3114  3152
 2                                                  청주   육거리    봄     -     -
 3                                                  청주   육거리  고랭지     -     -
 4                                                  청주   육거리   가을  3000     -
 5                                                  청주   육거리   월동     -  3000
 6                                                  청주  B-유통    봄     -     -
 7                                                  청주  B-유통  고랭지     -     -
 8                                                  청주  B-유통   가을     -     -
 9                                                  청주  B-유통   월동  2180  2180
 10  구분  01/02  01/03  01/04  01/07  01/08  01/09  ...   NaN  NaN   NaN   NaN

    01/04 01/07 01/08 01/09 01/10  ... 12/17 12/18 12/19 12/20 12/23 12/24  \
 0   2590  2590  2590  2590  2590  ...  4405  4320  4620  4660   NaN   NaN
 1   2692  3208  3072  2631  2642  ...  3252  3242  3132  3090   NaN   NaN
 2      -     -     -     -     -  ...     -     -     -     -   NaN   NaN
 3      -     -     -     -     -  ...     -     -     -     -   NaN   NaN
 4      -     -     -     -     -  ...  4830  4660  4660  4660   NaN   NaN
 5   3000  3000  3000  3000  3000  ...     -     -     -     -   NaN   NaN
 6      -     -     -     -     -  ...     -     -     -     -   NaN   NaN
 7      -     -     -     -     -  ...     -     -     -     -   NaN   NaN
 8      -     -     -     -     -  ...  3980  3980  4580     -   NaN   NaN
 9   2180  2180  2180  2180  2180  ...     -     -     -     -   NaN   NaN
 10   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    12/26 12/27 12/30 12/31
 0    NaN   NaN   NaN   NaN
 1    NaN   NaN   NaN   NaN
 2    NaN   NaN   NaN   NaN
 3    NaN   NaN   NaN   NaN
 4    NaN   NaN   NaN   NaN
 5    NaN   NaN   NaN   NaN
 6    NaN   NaN   NaN   NaN
 7    NaN   NaN   NaN   NaN
 8    NaN   NaN   NaN   NaN
 9    NaN   NaN   NaN   NaN
 10   NaN   NaN   NaN   NaN

 [11 rows x 249 columns],
    구분  구분.1 구분.2 01/02 01/03 01/04 01/07 01/08 01/09 01/10  ... 12/17 12/18  \
 0  평균    평균   평균  2590  2590  2590  2590  2590  2590  2590  ...  4405  4320
 1  평년    평년   평년  3114  3152  2692  3208  3072  2631  2642  ...  3252  3242
 2  청주   육거리    봄     -     -     -     -     -     -     -  ...     -     -
 3  청주   육거리  고랭지     -     -     -     -     -     -     -  ...     -     -
 4  청주   육거리   가을  3000     -     -     -     -     -     -  ...  4830  4660
 5  청주   육거리   월동     -  3000  3000  3000  3000  3000  3000  ...     -     -
 6  청주  B-유통    봄     -     -     -     -     -     -     -  ...     -     -
 7  청주  B-유통  고랭지     -     -     -     -     -     -     -  ...     -     -
 8  청주  B-유통   가을     -     -     -     -     -     -     -  ...  3980  3980
 9  청주  B-유통   월동  2180  2180  2180  2180  2180  2180  2180  ...     -     -

   12/19 12/20 12/23 12/24 12/26 12/27 12/30 12/31
 0  4620  4660   NaN   NaN   NaN   NaN   NaN   NaN
 1  3132  3090   NaN   NaN   NaN   NaN   NaN   NaN
 2     -     -   NaN   NaN   NaN   NaN   NaN   NaN
 3     -     -   NaN   NaN   NaN   NaN   NaN   NaN
 4  4660  4660   NaN   NaN   NaN   NaN   NaN   NaN
 5     -     -   NaN   NaN   NaN   NaN   NaN   NaN
 6     -     -   NaN   NaN   NaN   NaN   NaN   NaN
 7     -     -   NaN   NaN   NaN   NaN   NaN   NaN
 8  4580     -   NaN   NaN   NaN   NaN   NaN   NaN
 9     -     -   NaN   NaN   NaN   NaN   NaN   NaN

 [10 rows x 249 columns]]

'배추값2019.xls'를 **메모장**으로 열면 
이 데이터가'html'형식으로 저장된것을 알 수 있다. 

참고자료: https://mizykk.tistory.com/40

In [ ]:
# table = pd.read_html('배추값2019.xls')
# table[1]
# table = pd.read_html('배추값2019.xls')[1]

In [3]:
df=pd.read_html('배추값2019.xls')[1]
df

,구분,구분.1,구분.2,01/02,01/03,01/04,01/07,01/08,01/09,01/10,...,12/17,12/18,12/19,12/20,12/23,12/24,12/26,12/27,12/30,12/31
0,평균,평균,평균,2590,2590,2590,2590,2590,2590,2590,...,4405,4320,4620,4660,NaN,NaN,NaN,NaN,NaN,NaN
1,평년,평년,평년,3114,3152,2692,3208,3072,2631,2642,...,3252,3242,3132,3090,NaN,NaN,NaN,NaN,NaN,NaN
2,청주,육거리,봄,-,-,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
3,청주,육거리,고랭지,-,-,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,청주,육거리,가을,3000,-,-,-,-,-,-,...,4830,4660,4660,4660,NaN,NaN,NaN,NaN,NaN,NaN
5,청주,육거리,월동,-,3000,3000,3000,3000,3000,3000,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
6,청주,B-유통,봄,-,-,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
7,청주,B-유통,고랭지,-,-,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
8,청주,B-유통,가을,-,-,-,-,-,-,-,...,3980,3980,4580,-,NaN,NaN,NaN,NaN,NaN,NaN
9,청주,B-유통,월동,2180,2180,2180,2180,2180,2180,2180,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df19=df.iloc[0,3:-6]

In [8]:
df19

01/02    2590
01/03    2590
01/04    2590
01/07    2590
01/08    2590
         ...
12/16    4405
12/17    4405
12/18    4320
12/19    4620
12/20    4660
Name: 0, Length: 240, dtype: object

In [12]:
df19=pd.DataFrame(df19)
df19

             price
date
2020-01-02  2590.0
2020-01-03  2590.0
2020-01-04  2590.0
2020-01-07  2590.0
2020-01-08  2590.0
...            ...
2020-12-16  4405.0
2020-12-17  4405.0
2020-12-18  4320.0
2020-12-19  4620.0
2020-12-20  4660.0

[240 rows x 1 columns]

In [9]:
df19=pd.DataFrame(df19)
df19.reset_index(inplace=True)
df19.columns = ['date', 'price']
df19['date'] = '2020-'+df19['date'].str[0:2]+'-'+df19['date'].str[3:5]     #★
df19['date'] = pd.to_datetime(df19['date'])

df19.set_index('date', inplace=True)

df19['price']=df19['price'].astype('float64')

In [10]:
df19

             price
date
2020-01-02  2590.0
2020-01-03  2590.0
2020-01-04  2590.0
2020-01-07  2590.0
2020-01-08  2590.0
...            ...
2020-12-16  4405.0
2020-12-17  4405.0
2020-12-18  4320.0
2020-12-19  4620.0
2020-12-20  4660.0

[240 rows x 1 columns]