<a href="https://colab.research.google.com/github/koreabao/public_data/blob/main/%EB%B0%B0%EC%B6%94%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

공공 데이터 사이트 https://www.data.go.kr/

인기데이터 -> 더보기 

분류체계 - 농축수산

서비스유형 - 다운로드

확장자 -  xls

제목: 한국농수산식품유통공사_농수축산물 도소매가격  -> 바로가기

소매가격: 기간별

기간: 2020-01-01 ~ 2020-12-31 

지역: 청주

부류: 채소류

품목: 배추

품종: 전체

등급: 상품


**데이터 다운받기->파일이름을 "배추값2021"로 변경한다.**

In [ ]:
import pandas as pd

In [ ]:
pd.read_html('배추값2021.xls')

[                                                   구분  구분.1 구분.2 01/04 01/05  \
 0                                                  평균    평균   평균  3160  3160
 1                                                  평년    평년   평년  3616  3494
 2                                                  청주   육거리    봄     -     -
 3                                                  청주   육거리  고랭지     -     -
 4                                                  청주   육거리   가을     -     -
 5                                                  청주   육거리   월동  3160  3160
 6                                                  청주  B-유통    봄     -     -
 7                                                  청주  B-유통  고랭지     -     -
 8                                                  청주  B-유통   가을     -     -
 9                                                  청주  B-유통   월동     -     -
 10  구분  01/04  01/05  01/06  01/07  01/08  01/11  ...   NaN  NaN   NaN   NaN

    01/06 01/07 01/08 01/11 01/12  ... 12/20 12/21 12/22 12/23 12/24 12/27  \
 0   3160  3160  3160  3160  3160  ...   NaN   NaN   NaN   NaN   NaN   NaN
 1   3277  3269  3269  3209  3161  ...   NaN   NaN   NaN   NaN   NaN   NaN
 2      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 3      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 4      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 5   3160  3160  3160  3160  3160  ...   NaN   NaN   NaN   NaN   NaN   NaN
 6      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 7      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 8      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 9      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 10   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    12/28 12/29 12/30 12/31
 0    NaN   NaN   NaN   NaN
 1    NaN   NaN   NaN   NaN
 2    NaN   NaN   NaN   NaN
 3    NaN   NaN   NaN   NaN
 4    NaN   NaN   NaN   NaN
 5    NaN   NaN   NaN   NaN
 6    NaN   NaN   NaN   NaN
 7    NaN   NaN   NaN   NaN
 8    NaN   NaN   NaN   NaN
 9    NaN   NaN   NaN   NaN
 10   NaN   NaN   NaN   NaN

 [11 rows x 251 columns],
    구분  구분.1 구분.2 01/04 01/05 01/06 01/07 01/08 01/11 01/12  ... 12/20 12/21  \
 0  평균    평균   평균  3160  3160  3160  3160  3160  3160  3160  ...   NaN   NaN
 1  평년    평년   평년  3616  3494  3277  3269  3269  3209  3161  ...   NaN   NaN
 2  청주   육거리    봄     -     -     -     -     -     -     -  ...   NaN   NaN
 3  청주   육거리  고랭지     -     -     -     -     -     -     -  ...   NaN   NaN
 4  청주   육거리   가을     -     -     -     -     -     -     -  ...   NaN   NaN
 5  청주   육거리   월동  3160  3160  3160  3160  3160  3160  3160  ...   NaN   NaN
 6  청주  B-유통    봄     -     -     -     -     -     -     -  ...   NaN   NaN
 7  청주  B-유통  고랭지     -     -     -     -     -     -     -  ...   NaN   NaN
 8  청주  B-유통   가을     -     -     -     -     -     -     -  ...   NaN   NaN
 9  청주  B-유통   월동     -     -     -     -     -     -     -  ...   NaN   NaN

   12/22 12/23 12/24 12/27 12/28 12/29 12/30 12/31
 0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 6   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 7   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 8   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 9   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

 [10 rows x 251 columns]]

'배추값2021.xls'를 **메모장**으로 열면 
이 데이터가'html'형식으로 저장된것을 알 수 있다. 

참고자료: https://mizykk.tistory.com/40

In [ ]:
table = pd.read_html('배추값2021.xls')
table[1]

,구분,구분.1,구분.2,01/04,01/05,01/06,01/07,01/08,01/11,01/12,...,12/20,12/21,12/22,12/23,12/24,12/27,12/28,12/29,12/30,12/31
0,평균,평균,평균,3160,3160,3160,3160,3160,3160,3160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,평년,평년,평년,3616,3494,3277,3269,3269,3209,3161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,청주,육거리,봄,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,청주,육거리,고랭지,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,청주,육거리,가을,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,청주,육거리,월동,3160,3160,3160,3160,3160,3160,3160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,청주,B-유통,봄,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,청주,B-유통,고랭지,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,청주,B-유통,가을,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,청주,B-유통,월동,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = pd.read_html('배추값2021.xls')[1]
df

,구분,구분.1,구분.2,01/04,01/05,01/06,01/07,01/08,01/11,01/12,...,12/20,12/21,12/22,12/23,12/24,12/27,12/28,12/29,12/30,12/31
0,평균,평균,평균,3160,3160,3160,3160,3160,3160,3160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,평년,평년,평년,3616,3494,3277,3269,3269,3209,3161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,청주,육거리,봄,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,청주,육거리,고랭지,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,청주,육거리,가을,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,청주,육거리,월동,3160,3160,3160,3160,3160,3160,3160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,청주,B-유통,봄,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,청주,B-유통,고랭지,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,청주,B-유통,가을,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,청주,B-유통,월동,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
a=df.iloc[0,-20:]

12/06    4555
12/07    4405
12/08    4405
12/09    4830
12/10     NaN
12/13     NaN
12/14     NaN
12/15     NaN
12/16     NaN
12/17     NaN
12/20     NaN
12/21     NaN
12/22     NaN
12/23     NaN
12/24     NaN
12/27     NaN
12/28     NaN
12/29     NaN
12/30     NaN
12/31     NaN
Name: 0, dtype: object