<a href="https://colab.research.google.com/github/koreabao/public_data/blob/main/%EB%B0%B0%EC%B6%94%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

공공 데이터 사이트 https://www.data.go.kr/

인기데이터 -> 더보기 

분류체계 - 농축수산

서비스유형 - 다운로드

확장자 -  xls

제목: 한국농수산식품유통공사_농수축산물 도소매가격  -> 바로가기

소매가격: 기간별

기간: 2020-01-01 ~ 2020-12-31 

지역: 청주

부류: 채소류

품목: 배추

품종: 전체

등급: 상품


**데이터 다운받기->파일이름을 "배추값2020"로 변경한다.**

In [96]:
import pandas as pd

In [97]:
pd.read_html('배추값2020.xls')

[                                                   구분  구분.1 구분.2 01/02 01/03  \
 0                                                  평균    평균   평균  4620  4705
 1                                                  평년    평년   평년  3114  3152
 2                                                  청주   육거리    봄     -     -
 3                                                  청주   육거리  고랭지     -     -
 4                                                  청주   육거리   가을  4660     -
 5                                                  청주   육거리   월동     -  4830
 6                                                  청주  B-유통    봄     -     -
 7                                                  청주  B-유통  고랭지     -     -
 8                                                  청주  B-유통   가을     -     -
 9                                                  청주  B-유통   월동  4580  4580
 10  구분  01/02  01/03  01/06  01/07  01/08  01/09  ...   NaN  NaN   NaN   NaN

    01/06 01/07 01/08 01/09 01/10  ... 12/17 12/18 12/21 12/22 12/23 12/24  \
 0   4905  4905  4905  4905  4905  ...   NaN   NaN   NaN   NaN   NaN   NaN
 1   3143  3053  3053  2600  2599  ...   NaN   NaN   NaN   NaN   NaN   NaN
 2      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 3      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 4      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 5   4830  4830  4830  4830  4830  ...   NaN   NaN   NaN   NaN   NaN   NaN
 6      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 7      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 8      -     -     -     -     -  ...   NaN   NaN   NaN   NaN   NaN   NaN
 9   4980  4980  4980  4980  4980  ...   NaN   NaN   NaN   NaN   NaN   NaN
 10   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    12/28 12/29 12/30 12/31
 0    NaN   NaN   NaN   NaN
 1    NaN   NaN   NaN   NaN
 2    NaN   NaN   NaN   NaN
 3    NaN   NaN   NaN   NaN
 4    NaN   NaN   NaN   NaN
 5    NaN   NaN   NaN   NaN
 6    NaN   NaN   NaN   NaN
 7    NaN   NaN   NaN   NaN
 8    NaN   NaN   NaN   NaN
 9    NaN   NaN   NaN   NaN
 10   NaN   NaN   NaN   NaN

 [11 rows x 251 columns],
    구분  구분.1 구분.2 01/02 01/03 01/06 01/07 01/08 01/09 01/10  ... 12/17 12/18  \
 0  평균    평균   평균  4620  4705  4905  4905  4905  4905  4905  ...   NaN   NaN
 1  평년    평년   평년  3114  3152  3143  3053  3053  2600  2599  ...   NaN   NaN
 2  청주   육거리    봄     -     -     -     -     -     -     -  ...   NaN   NaN
 3  청주   육거리  고랭지     -     -     -     -     -     -     -  ...   NaN   NaN
 4  청주   육거리   가을  4660     -     -     -     -     -     -  ...   NaN   NaN
 5  청주   육거리   월동     -  4830  4830  4830  4830  4830  4830  ...   NaN   NaN
 6  청주  B-유통    봄     -     -     -     -     -     -     -  ...   NaN   NaN
 7  청주  B-유통  고랭지     -     -     -     -     -     -     -  ...   NaN   NaN
 8  청주  B-유통   가을     -     -     -     -     -     -     -  ...   NaN   NaN
 9  청주  B-유통   월동  4580  4580  4980  4980  4980  4980  4980  ...   NaN   NaN

   12/21 12/22 12/23 12/24 12/28 12/29 12/30 12/31
 0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 6   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 7   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 8   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 9   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

 [10 rows x 251 columns]]

'배추값2021.xls'를 **메모장**으로 열면 
이 데이터가'html'형식으로 저장된것을 알 수 있다. 

참고자료: https://mizykk.tistory.com/40

In [98]:
# table = pd.read_html('배추값2020.xls')
# table[1]
# table = pd.read_html('배추값2021.xls')[1]

In [99]:
df=pd.read_html('배추값2020.xls')[1]
df

,구분,구분.1,구분.2,01/02,01/03,01/06,01/07,01/08,01/09,01/10,...,12/17,12/18,12/21,12/22,12/23,12/24,12/28,12/29,12/30,12/31
0,평균,평균,평균,4620,4705,4905,4905,4905,4905,4905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,평년,평년,평년,3114,3152,3143,3053,3053,2600,2599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,청주,육거리,봄,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,청주,육거리,고랭지,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,청주,육거리,가을,4660,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,청주,육거리,월동,-,4830,4830,4830,4830,4830,4830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,청주,B-유통,봄,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,청주,B-유통,고랭지,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,청주,B-유통,가을,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,청주,B-유통,월동,4580,4580,4980,4980,4980,4980,4980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df20=df.iloc[0,3:-20]

In [116]:
df20

01/02    4620
01/03    4705
01/06    4905
01/07    4905
01/08    4905
         ...
11/25    2470
11/26    2470
11/27    2470
11/30    2470
12/01    3070
Name: 0, Length: 228, dtype: object

In [117]:
df20=pd.DataFrame(df20)
df20.reset_index(inplace=True)
df20.columns = ['date', 'price']
df20['date'] = '2020-'+df20['date'].str[0:2]+'-'+df20['date'].str[3:5]     #★
df20['date'] = pd.to_datetime(df20['date'])

df20.set_index('date', inplace=True)

df20['price']=df20['price'].astype('float64')

In [118]:
df20

             price
date
2020-01-02  4620.0
2020-01-03  4705.0
2020-01-06  4905.0
2020-01-07  4905.0
2020-01-08  4905.0
...            ...
2020-11-25  2470.0
2020-11-26  2470.0
2020-11-27  2470.0
2020-11-30  2470.0
2020-12-01  3070.0

[228 rows x 1 columns]