<a href="https://colab.research.google.com/github/koreabao/public_data/blob/main/%EC%A3%BC%EA%B0%80%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

In [22]:
ss=pd.read_csv('https://query1.finance.yahoo.com/v7/finance/download/005930.KS?period1=1495152000&period2=1652918400&interval=1d&events=history&includeAdjustedClose=true')

In [23]:
ss

            Date     Open     High      Low    Close     Adj Close    Volume
0     2017-05-19  45640.0  45780.0  44720.0  44720.0  38738.125000  15762350
1     2017-05-22  45040.0  45380.0  44760.0  45100.0  39067.285156  17643550
2     2017-05-23  45400.0  45580.0  44900.0  44920.0  38911.378906  12607050
3     2017-05-24  44860.0  45300.0  44800.0  44880.0  38876.714844   8675400
4     2017-05-25  45160.0  45680.0  44800.0  45680.0  39569.699219  13044800
...          ...      ...      ...      ...      ...           ...       ...
1221  2022-05-13  65300.0  66700.0  65200.0  66500.0  66500.000000  14551536
1222  2022-05-16  67100.0  67400.0  66100.0  66300.0  66300.000000  11937555
1223  2022-05-17  66600.0  67900.0  66600.0  67600.0  67600.000000  15680447
1224  2022-05-18  68300.0  68700.0  67600.0  68100.0  68100.000000  16486319
1225  2022-05-19  66500.0  67300.0  66500.0  67100.0  67100.000000   5064931

[1226 rows x 7 columns]

In [24]:
ss['avg'] = (ss['High']+ss['Low'])/2
ss

,Date,Open,High,Low,Close,Adj Close,Volume,avg
0,2017-05-19,45640.0,45780.0,44720.0,44720.0,38738.125000,15762350,45250.0
1,2017-05-22,45040.0,45380.0,44760.0,45100.0,39067.285156,17643550,45070.0
2,2017-05-23,45400.0,45580.0,44900.0,44920.0,38911.378906,12607050,45240.0
3,2017-05-24,44860.0,45300.0,44800.0,44880.0,38876.714844,8675400,45050.0
4,2017-05-25,45160.0,45680.0,44800.0,45680.0,39569.699219,13044800,45240.0
...,...,...,...,...,...,...,...,...
1221,2022-05-13,65300.0,66700.0,65200.0,66500.0,66500.000000,14551536,65950.0
1222,2022-05-16,67100.0,67400.0,66100.0,66300.0,66300.000000,11937555,66750.0
1223,2022-05-17,66600.0,67900.0,66600.0,67600.0,67600.000000,15680447,67250.0
1224,2022-05-18,68300.0,68700.0,67600.0,68100.0,68100.000000,16486319,68150.0
1225,2022-05-19,66500.0,67300.0,66500.0,67100.0,67100.000000,5064931,66900.0

In [32]:
ss1=ss.iloc[:,[0,-1]]
#ss1=ss[['Date','avg']]
ss1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226 entries, 0 to 1225
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1226 non-null   object
 1   avg     1226 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.3+ KB

In [36]:
ss1['Date']=pd.to_datetime(ss1['Date'])
ss1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226 entries, 0 to 1225
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1226 non-null   datetime64[ns]
 1   avg     1226 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.3 KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
ss1.columns = ['ds','y']